.Sidebar {
  background-color: #f7f7f9;
  color: black;
  font-family: "Roboto", sans-serif;
}
.logo {
  border-radius: 50%;
  height: 100px;
  weight: 100px;
}
.selected {
  color: red;
}
.Sidebar div,
.Sidebar ul,
.Sidebar li {
  cursor: pointer;
}
